@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <h1>Contato</h1>
    <h3>Para mais informações, entre em contato em: <a href="https://github.com/thiagogz/CPsCSharp">GitHub</a></h3>
</div>