@{
    ViewData["Title"] = "Informações";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <h2> Você está prestes a testemunhar a análise mais duvidosa dos melhores jogos de 2023.</h2>
    <h3> Aqui, você pode discordar de tudo, menos da primeira colocação.</h3>
    <h4> A lista foi feita com muito carinho e estudo.</h4>
    <h5> Ainda assim, além da primeira colocação, podem haver informações não condizentes com a opinião de meros mortais.</h5>
    <h6> Divirta-se.</h6>
    <p> Para reclamações, clique <a href="https://github.com/thiagogz/CPsCSharp">aqui</a>.</p>
</div>