@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Essa página é meramente ilustrativa.</h1>
    <p> Para mais informações, seguir para a página "Informações"</p>
</div>
