@{
    ViewData["Title"] = "ListaJogos";
}

<div class="text-center">
    <h1>TOP 5 melhores jogos de 2023</h1>
    <ul>
        <li>1. Baldur's Gate 3</li>
        <li>2. The Legend of Zelda: The Tears of the Kingdom</li>
        <li>3. Super Mario Bros. Wonder</li>
        <li>4. Marvel’s Spider-Man 2</li>
        <li>5. Alan Wake II</li>
    </ul>
    <h3>Caso discorde, favor, enviar sua opinião <a href="https://github.com/thiagogz/CPsCSharp">aqui</a></h3>
</div>